.card{
    background-color: var(--secondary-color);

}

input[type=text], input[type=email]{
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100% ;

}

.btn-sub{
    height: 48px;
    background-color: var(--primary-color);
    border: none;
    font-size: 13px;

}

.subs-text{
   width: 500px;
}