<div class="card">
    <img src="https://i.pinimg.com/736x/2c/2c/e5/2c2ce5614ec4aac895466101300abe48.jpg"
    alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 155,787 </small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2026 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

        <small class="bg-light text-warning text-center ml-3"> Posted on 15th Jan 2026 </small>
    </div>
</div>