@if(post ){
    
    
    <div class="card shadow-effect" [routerLink]="['/post', post.id]" style="cursor: pointer;">
        
    <img src={{post.postImgPath}}
    alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> {{post.category.category}} </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - {{post.views}} </small>

        <h5 class="mt-1">{{post.title}}</h5>
        <p>{{post.excerpt}}</p>

        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED: {{post.createdAt.toMillis() | date}} </small>
    </div>
</div>
}
